<p id="notice"><%= notice %></p>

<h1>Ticket Conferences</h1>

<table>
  <thead>
    <tr>
      <th>Ticketconference assistance</th>
      <th>Ticket</th>
      <th>Conference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_conferences.each do |ticket_conference| %>
      <tr>
        <td><%= ticket_conference.ticketConference_assistance %></td>
        <td><%= ticket_conference.Ticket %></td>
        <td><%= ticket_conference.Conference %></td>
        <td><%= link_to 'Show', ticket_conference %></td>
        <td><%= link_to 'Edit', edit_ticket_conference_path(ticket_conference) %></td>
        <td><%= link_to 'Destroy', ticket_conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Conference', new_ticket_conference_path %>
