<p id="notice"><%= notice %></p>

<h1>Conferences</h1>

<table>
  <thead>
    <tr>
      <th>Cnf name</th>
      <th>Cnf ticketnumber</th>
      <th>Cnf capacity</th>
      <th>Cnf occupancy</th>
      <th>Cnf location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.cnf_name %></td>
        <td><%= conference.cnf_ticketNumber %></td>
        <td><%= conference.cnf_capacity %></td>
        <td><%= conference.cnf_occupancy %></td>
        <td><%= conference.cnf_location %></td>
        <td><%= link_to 'Show', conference %></td>
        <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
        <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
