<p id="notice"><%= notice %></p>

<h1>Attendees</h1>

<table>
  <thead>
    <tr>
      <th>Att name</th>
      <th>Att idnumber</th>
      <th>Att course</th>
      <th>Att ticketnumber</th>
      <th>Att semester</th>
      <th>Att registered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.att_name %></td>
        <td><%= attendee.att_idNumber %></td>
        <td><%= attendee.att_course %></td>
        <td><%= attendee.att_ticketNumber %></td>
        <td><%= attendee.att_semester %></td>
        <td><%= attendee.att_registered %></td>
        <td><%= link_to 'Show', attendee %></td>
        <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
        <td><%= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendee', new_attendee_path %>
