<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_name %>
    <%= f.text_field :event_name %>
  </div>

  <div class="field">
    <%= f.label :event_startDate %>
    <%= f.datetime_select :event_startDate %>
  </div>

  <div class="field">
    <%= f.label :event_endDate %>
    <%= f.datetime_select :event_endDate %>
  </div>

  <div class="field">
    <%= f.label :event_capacity %>
    <%= f.text_field :event_capacity %>
  </div>

  <div class="field">
    <%= f.label :event_attendance %>
    <%= f.text_field :event_attendance %>
  </div>

  <div class="field">
    <%= f.label :event_description %>
    <%= f.text_area :event_description %>
  </div>

  <div class="field">
    <%= f.label :event_onlyStudents %>
    <%= f.text_field :event_onlyStudents %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
