<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container_form">
    <div class="combo_fieldLabel fRow_endEnd">
      <p>Name</p>
      <%= f.text_field :event_name, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Start Date</p>
      <%= f.datetime_select :event_startDate, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>End Date</p>
      <%= f.datetime_select :event_endDate, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Capacity</p>
      <%= f.text_field :event_capacity, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Description</p>
      <%= f.text_area :event_description, class:"input_textArea" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Students Only</p>
      <%= f.text_field :event_onlyStudents, class:"input" %>
    </div>
  </div>

  <div class="f_tCenter">
    <%= f.submit class:"button_main" %>
  </div>

<% end %>
