<main class="f_tCenter">
  <div class="container">
    <h1 class="title" align="center">¡Felicidades <%= @ticket.ticket_name.split.first%>!</h1>
    <h2 class="subtitle">¡Ya eres parte de <%= @ticket.event.event_name%>!</h2>
    <div class="f_tCenter">
      <%= image_tag("mkt.png", :alt => "", class:"profilePicture_event") %>
    </div>
    <%if @ticket.event.id == 1%>
    <p class="textCenter">
      Cualquier duda previa al evento puedes contactarnos a <strong>info@marketingfest.mx</strong>. Te
      esperamos del 19 al 21 de octubre en el Tec de Monterrey, Campus Monterrey.
    </p>
      <%elsif @ticket.event.id == 2%>
      <p class="textCenter">
      Te esperamos del 4 al 6 de Octubre en el Tec de Monterrey, Campus Monterrey.
    </p>
      <%end%>
    <div class="barcode_container f_tCenter" align="center">
      <%= image_tag(attachments['barcode.png'].url) %>
    </div>
    <h2 class="subtitle" align="center"> <%= @ticket.ticket_reference%></h2>
    <p class="textCenter">No olvides presentar este boleto para registrarte.</p>
    </p>
    <footer class="mail_footer" >
      <div class="f_tCenter mail_logoContainer">
        <%= image_tag("Logo.svg", :alt => "", class:"nav_logo") %>
      </div>
    </footer>
  </div>
</main>
