<head>
  <style>
    table{
      background-image: linear-gradient(-134deg, #FFD823 0%, #F96EF5 100%);
      padding: 30px;
    }
    tr{
      background-color: #fff;
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    td{
      width: 500px;
    }
    .image > img{
      width: 400px;
    }
    .image2 > img{
      width: 300px;
    }

    p{
      font-size: 1.25em;
      padding: 0 40px;
    }

    @media only screen and (max-width: 400px) {
      p{
        font-size: 1.75em;
      }
    }

  </style>
</head>
<div style="width: 100%;">
  <table>
    <tr>
      <td>
        <h1 style="color: #2F2F2F; font-size: 44px; text-align: center; font-family: sans-serif;">
          ¡Hola <%= @ticket.ticket_name.split.first%>!
        </h1>
        <h2 style="color: #2F2F2F; font-size: 28px; text-align: center; font-family: sans-serif;">
          ¡Hoy comienza <%= @ticket.event.event_name%>!
      </td>
    </tr>
    <tr>
      <td>
        <div class="image2" align="center">
          <%= image_tag(attachments['logo_event.png'].url) %>
          <!-- <%= image_tag attachments['logo_event.png'].url %> -->
        </div>
      </td>
    </tr>
    <%
    conference1 = ""
    conference2 = ""
    if @ticket.ticket_conference1 == "1" then conference1 = "Fashion: Andy Benavides"  end
    if @ticket.ticket_conference1 == "2" then conference1 = "Fashion: LCI Monterrey"  end
    if @ticket.ticket_conference1 == "3" then conference1 = "Trends: Levadura"  end
    if @ticket.ticket_conference1 == "4" then conference1 = "Trends: Huntmuse"  end
    if @ticket.ticket_conference1 == "5" then conference1 = "Sports: Athlete Booster"  end
    if @ticket.ticket_conference1 == "15" then conference1 = "Sports: CEMEX - Tigres. Te pedimos que para tu taller traigas tu laptop(en caso de no tener una disponible, traer tableta o smartphone)"  end
    if @ticket.ticket_conference1 == "16" then conference1 = "Sports: Insane Workout Center"  end
    if @ticket.ticket_conference1 == "6" then conference1 = "Entertainment: Inspiral. Te pedimos que para tu taller traigas tu laptop(en caso de no tener una disponible, traer tableta o smartphone)"  end

    if @ticket.ticket_conference2 == "7" then conference2 = "Fashion: Polanna / Givehope" end
    if @ticket.ticket_conference2 == "8" then conference2 = "Fashion: Instituto di Moda Burgo. Te pedimos que para tu taller traigas tu laptop(en caso de no tener una disponible, traer tableta o smartphone)" end
    if @ticket.ticket_conference2 == "9" then conference2 = "Trends: Ana Tere Canales" end
    if @ticket.ticket_conference2 == "10" then conference2 = "Trends: Taste n Tell" end
    if @ticket.ticket_conference2 == "11" then conference2 = "Sports: Abierto GNP Seguros" end
    if @ticket.ticket_conference2 == "12" then conference2 = "Entertainment: La Sociedad" end
    if @ticket.ticket_conference2 == "13" then conference2 = "Entertainment: Nebulosa" end
    %>
    <tr>
      <td>
        <div class="">
          <p style="text-align: center;">
            Te recordamos que te inscribiste a los siguientes talleres:
          </p>
          <br>
          <p style="text-align: center;">
            Jueves: <%= conference1 %>.
          </p>
          <p style="text-align: center;">
            Viernes: <%= conference2 %>.
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <% if @ticket.event.id == 1 %>
        <p style="text-align: center;">
          Te esperamos a las 9:00 a.m en el Tec de Monterrey, Campus Monterrey para el registro.
        </p>
        <% elsif @ticket.event.id == 2 %>
        <p style="text-align: center;">
          Te esperamos en el Tec de Monterrey, Campus Monterrey.
        </p>
        <% elsif @ticket.event.id == 3 %>
        <p style="text-align: center;">
          Te esperamos en el Tec de Monterrey, Campus Monterrey.
        </p>
        <% elsif @ticket.event.id == 4 %>
        <p style="text-align: center;">
          Te esperamos en el Tec de Monterrey, Campus Monterrey.
        </p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <div align="center">
          <%= image_tag(attachments['barcode.png'].url) %>
          <!-- <%= image_tag attachments['barcode.png'].url %> -->
          <h2> <%= @ticket.ticket_reference%></h2>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <p style="text-align: center;">
          No olvides presentar este boleto para registrarte.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div style="background-image: linear-gradient(-134deg, #FFD823 0%, #F96EF5 100%);">
          <div style="background-color: #fff; margin: 40px auto;" class="image" align="center">
            <%= image_tag(attachments['logo2.png'].url) %>
            <!-- <%= image_tag attachments['logo2.png'].url %> -->
          </div>
        </div>
      </td>
    </tr>
  </table>
  </h2>
</div>
