<%= form_for(ticket) do |f| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container_form">
    <%= f.check_box :ticket_preregistered, checked: true, class:"hidden"%>
    <div class="incluye">
      <% if ticket.ticket_ticketTypeId == 1 %>
      <strong>Tu boleto incluye:</strong>
      <ul>
        <li>Stand up de Chumel Torres (viernes 6 de oct - 8:00 pm)</li>
        <li>Networking Night (miércoles 4 de oct - 7:00 pm)</li>
        <li>Actividad Sorpresa (miércoles 4 de oct - 10:00 am)</li>
      </ul>
      <% elsif ticket.ticket_ticketTypeId == 2 %>
      <strong>Tu boleto incluye:</strong>
      <ul>
        <li>Networking Night (miércoles 4 de oct - 7:00 pm)</li>
      </ul>
      <% end %>
    </div>



    <h2 class="form_subtitle">Paso 1: Selecciona tus actividades</h2>


    <strong>Selecciona hasta 3 conferencias</strong>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_conferencia1, params[:params_conferencia1] %>
      <p class="checkbox"><%= Conference.find(4).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_conferencia2, params[:params_conferencia2] %>
      <p class="checkbox"><%= Conference.find(5).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_conferencia3, params[:params_conferencia3] %>
      <p class="checkbox"><%= Conference.find(6).conference_name %></p>
    </div>


    <br>

    <% if ticket.ticket_ticketTypeId == 4 %>
      <strong>Selecciona hasta 2 experiencias</strong>
    <% else %>
      <strong>Selecciona hasta 6 experiencias</strong>
    <% end %>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_experiencia1, params[:params_experiencia1] %>
      <p class="checkbox"><%= Conference.find(7).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_experiencia2, params[:params_experiencia2] %>
      <p class="checkbox"><%= Conference.find(8).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_experiencia3, params[:params_experiencia3] %>
      <p class="checkbox"><%= Conference.find(9).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_experiencia4, params[:params_experiencia4] %>
      <p class="checkbox"><%= Conference.find(10).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_experiencia5, params[:params_experiencia5] %>
      <p class="checkbox"><%= Conference.find(11).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_experiencia6, params[:params_experiencia6] %>
      <p class="checkbox"><%= Conference.find(12).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_experiencia7, params[:params_experiencia7] %>
      <p class="checkbox"><%= Conference.find(13).conference_name %></p>
    </div>
    <div class="fRow_aiCen">
      <%= check_box_tag :params_experiencia8, params[:params_experiencia8] %>
      <p class="checkbox"><%= Conference.find(14).conference_name %></p>
    </div>



    <% if ticket.ticket_ticketTypeId != 4 %>
    <br>
      <strong>Selecciona hasta 1 taller</strong>
      <%= f.select :ticket_conference1, options_for_select([
        ["Elevator Pitch (miércoles 4 de oct. - 4:30 pm)", 15],
        ["Storytelling de Zam - Nett (jueves 5 de oct. - 5:30 pm)", 16],
        ["Yo Soy Marca Registrada (jueves 5 de oct. - 5:30 pm)", 17],
        ["Taller de V09 (jueves 5 de oct. - 4:00 pm)", 18],
        ["Conceptualización La Sociedad (jueves 5 de oct. - 5:30 pm)", 19],
        ["Altavista Studios (jueves 5 de oct. - 5:30 pm)", 20],
        ["The New Agency (jueves 5 de oct. - 5:30 pm)", 21],
        ["Taller por Anunciar (jueves 5 de oct. - 5:30 pm)", 22],
        ["Taller por Anunciar (jueves 5 de oct. - 5:30 pm)", 23]]),
        {:include_blank => 'Selecciona una opción' } %>
      <br>
      <br>
      <strong>Selecciona hasta 1 bloque de speedmeeting</strong>
      <%= f.select :ticket_conference2, options_for_select([
        ["Speed Meetings Bloque 1 (miércoles 4 de oct. - 10:00am)", 24],
        ["Speed Meetings Bloque 2 (miércoles 4 de oct. - 11:00am)", 25],
        ["Speed Meetings Bloque 3 (miércoles 4 de oct. - 12:00am)", 26]]),
        {:include_blank => 'Selecciona una opción' } %>
    <% end %>

    <h2 class="form_subtitle">Paso 2: Llena tu información</h2>
    <div class="combofieldLabel fRow_endEnd">
      <p class="caption">Campos requeridos <span class="required">*</span></p>
      <div class="combo_fieldLabel fRow_endEnd">
        <p>Nombre completo <span class="required">*</span></p>
        <%= f.text_field :ticket_name, class:"input", :required => true %>
      </div>

      <div class="combo_fieldLabel fRow_endEnd">
        <p>Correo electrónico <span class="required">*</span></p>
        <%= f.text_field :ticket_email, class:"input", :required => true %>
      </div>

      <div class="combo_fieldLabel fRow_endEnd">
        <p>Matrícula</p>
        <%= f.text_field :ticket_schoolId, class:"input" %>
      </div>

      <div class="combo_fieldLabel fRow_endEnd">
        <p>Sexo</p>
        <%= f.select :ticket_sex, options_for_select([
          ['Masculino', 'm'],
          ['Femenino', 'f'],
          ['Prefiero no especificar', 'x']]), {prompt: 'Selecciona una opción'} %>
      </div>

      <div class="combo_fieldLabel fRow_endEnd">
        <p>Edad</p>
        <%= f.number_field :ticket_age, class:"input",  :required => true %>
      </div>

      <div class="combo_fieldLabel fRow_endEnd">
        <p>Carrera</p>
        <%= f.text_field :ticket_course, class:"input" %>
      </div>

      <div class="combo_fieldLabel fRow_endEnd">
        <p>Semestre</p>
        <%= f.text_field :ticket_semester, class:"input" %>
      </div>
    </div>

  </div>
  <div class="f_tCenter">
    <%= f.submit "Enviar", class:"button_main_esm" %>
  </div>
<% end %>
