<%= form_for(ticket) do |f| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container_form">
    <%= f.check_box :ticket_registered, checked: true, class: "hidden" %>
    <div class="combo_fieldLabel fRow_endEnd">
      <p>Nombre completo</p>
      <%= f.text_field :ticket_name, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Matrícula</p>
      <%= f.text_field :ticket_schoolId, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Correo electrónico</p>
      <%= f.text_field :ticket_email, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Sexo</p>
      <%= f.text_field :ticket_sex, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Edad</p>
      <%= f.text_field :ticket_age, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Carrera</p>
      <%= f.text_field :ticket_course, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Semestre</p>
      <%= f.text_field :ticket_semester, class:"input" %>
    </div>
  </div>

  <div class="f_tCenter">
    <%= f.submit "Enviar", class:"button_main" %>
  </div>
<% end %>
