<%= form_for(ticket) do |f| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container_form">
    <%= f.check_box :ticket_preregistered, checked: true, class:"hidden"%>
    <div class="incluye">
      <%if @ticket.ticket_ticketTypeId == 13 %>
      <strong>Tu boleto incluye:</strong>
      <ul>
        <li>Acceso a todas las conferencias</li>
        <li>2 talleres</li>
        <li>1 visita</li>
        <li><strong>Kit IMPULSO</strong></li>
      </ul>
      <% elsif ticket.ticket_ticketTypeId == 12 %>
      <strong>Tu boleto incluye:</strong>
      <ul>
        <li>Acceso a tocas las conferencias</li>
        <li>2 talleres</li>
      </ul>
      <% end %>
    </div>
      <h2 class="form_subtitle">Paso 1: Selecciona tus actividades.</h2>
      <div class="combo_fieldLabel fRow_endEnd">
      <strong>Precaución: Por favor revisa los horarios de tus actividades para evitar empalmes</strong>
      <br>
        <p>Taller 1</p>
        <%= f.select :ticket_conference1, @talleres, :include_blank =>  'Selecciona una opción' %>
      </div>
      <div class="combofieldLabel fRow_endEnd">
        <p>Taller 2</p>
        <%= f.select :ticket_conference2, @talleres, :include_blank =>  'Selecciona una opción' %>
      </div>
      <%if @ticket.ticket_ticketTypeId == 13%>
      <div class="combo_fieldLabel fRow_endEnd">
       <p>Visita</p>
       <%= f.select :ticket_other, @visitas, :include_blank =>  'Selecciona una opción' %>
      </div>
      <%end%>

      <h2 class="form_subtitle">Paso 2: Llena tu información personal.</h2>

    <p class="caption">Campos requeridos <span class="required">*</span></p>
    <div class="combo_fieldLabel fRow_endEnd">
      <p>Nombre completo <span class="required">*</span></p>
      <%= f.text_field :ticket_name, class:"input", :required => true %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Correo electrónico <span class="required">*</span></p>
      <%= f.text_field :ticket_email, class:"input", :required => true %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Universidad</p>
      <%= f.text_field :ticket_university, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Matrícula</p>
      <%= f.text_field :ticket_schoolId, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Sexo</p>
      <%= f.select :ticket_sex, options_for_select([
        ['Masculino', 'm'],
        ['Femenino', 'f']]), {prompt: 'Selecciona una opción'} %>
    </div>
    <!--['Prefiero no especificar', 'x'] Se quito -->

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Edad</p>
      <%= f.number_field :ticket_age, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Carrera</p>
      <%= f.text_field :ticket_course, class:"input" %>
    </div>

    <div class="combo_fieldLabel fRow_endEnd">
      <p>Semestre</p>
      <%= f.select :ticket_semester, options_for_select([
        ['1', 1],
        ['2', 2],
        ['3', 3],
        ['5', 5],
        ['6', 6],
        ['7', 7],
        ['8', 8],
        ['9', 9],
        ['10', 10],
        ['11', 11],
        ['12', 12],
        ['13', 13],
        ['No aplica', 0]]), :include_blank =>  'Selecciona una opción' %>
    </div>
  </div>

  <div class="f_tCenter">
    <%= f.submit "Enviar", class:"button_main2" %>
  </div>
<% end %>
