<main class="main2 flRow-aiCen-jcCen">
  <div class="container2">
    <h1>Boletos preregistrados: <%= @t_preregistered %> / <%= @t_total %></h1>
    <table class="dash_table">
      <tr>
        <td style="border: 0;"></td>
        <td><strong>Registrados / Preregistrados / Capacidad</strong></td>
      </tr>
      <% @conferences.each do |c| %>
        <% if TicketConference.where(:conference_id => c.id, :TicketConference_assistance => true).first == nil %>
        <% else %>
          <tr>
            <td><%= c.conference_name %></td>
            <td><strong> <%= TicketConference.where(:conference_id => c.id, :TicketConference_assistance => true).count %> / <%= c.tickets.count %> / <%= c.conference_capacity %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</main>
