<%= render 'layouts/navbar' %>
<main class="main2 flRow-aiCen-jcCen">
  <div class="absolute2">
    <div class="container2 flCol">
      <div class="table_cell">
        <h2 class="subtitle">Events</h2>
        <div class="flRow-aiCen-jcCen">
          <table>
            <% @e.each do |e| %>
              <% @count = Ticket.where(:event_id => e.id, :ticket_preregistered => true).count %>
              <tr>
                <td class="cell_large"><%= e.event_name %></td>
                <td class="cell_count"><%= @count %></td>
                <td>
                  <%= link_to edit_event_path(e) do %>
                  <i class="material-icons">mode_edit</i>
                  <% end %>
                </td>
                <td>
                  <%= link_to e, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="material-icons">clear</i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <br>


      <div class="table_cell">
        <h2 class="subtitle">Conferences</h2>
        <% @e.each do |e| %>
        <% @c = Conference.where(:event_id => e.id) %>
          <h3 class="event_title"><%= e.event_name %></h3>
          <div class="flRow-aiCen-jcCen">
            <table>
              <% @c.each do |c| %>
              <tr>
                <td class="cell_large"><%= c.conference_name %></td>
                <td>
                  <%= link_to edit_event_path(c) do %>
                  <i class="material-icons">mode_edit</i>
                  <% end %>
                </td>
                <td>
                  <%= link_to c, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="material-icons">clear</i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>
      <br>


      <div class="table_cell">
        <h2 class="subtitle">Tickets</h2>
        <% @e.each do |e| %>
        <% @t = Ticket.where(:event_id => e.id) %>
          <h3 class="event_title"><%= e.event_name %></h3>
          <div class="flRow-aiCen-jcCen">
            <table>
              <% @t.each do |t| %>
              <tr>
                <td class="cell_large"><%= t.ticket_reference %></td>
                <td>
                  <%= link_to edit_event_path(t) do %>
                  <i class="material-icons">mode_edit</i>
                  <% end %>
                </td>
                <td>
                  <%= link_to t, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="material-icons">clear</i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
