<style>
  main{
    background-image: linear-gradient(-134deg, #FF7DC0 0%, #FF1872 100%);
  }
</style>
<%= render 'layouts/navbar' %>
<main>
  <div class="fullscreen fRow-centerAround absolute2">
    <div class="fCol">
      <div class="container">
        <h1 class="title">Pre-registro</h1>
        <%= form_tag(preregister2_tickets_path, :method => "get") do %>
        <p class="description">
          Encontrarás el código de activación en el boleto que te fue proporcionado al momento de pagar.
        </p>
        <div class="fRow">
          <strong>Codigo de activación</strong>
          <%= text_field_tag :param_reference, params[:param_reference], class:"input" %>
        </div>
        <div class="f_tCenter">
          <%= submit_tag "Buscar", :name => nil, class:"button_main_esm" %>
        </div>
        <% end %>
      </div>
      <!-- Flags -->
      <% if params[:param_reference] && @ticket.blank? %>
      <div class="flag negative">
        <h2 class="subtitle negative">¡Lo sentimos!</h2>
        <p class="negative">
          La referencia de pago "<%= params[:param_reference] %>" no existe, por favor intenta de nuevo.
        </p>
      </div>
    </div>
    <% elsif !@ticket.blank? && @ticket.ticket_preregistered == true %>
    <div class="flag negative">
      <h2 class="subtitle negative">¡Lo sentimos!</h2>
      <p class="negative">
        El código de activación "<strong class="negative"><%= params[:param_reference] %></strong>" ya fue utilizado. Por favor verifica
        que esté correcto. Si tienes algún problema, comunícate con nosotros al correo: <strong class="negative">info@marketingfest.mx</strong>
      </p>
    </div>
  </div>
  <% elsif !@ticket.blank? %>
</div>
<div class="container">
  <h1 class="title">Llena tu información</h1>
  <%= render 'form2', ticket: @ticket %>
</div>
<% end %>
  </div>
</main>
