<%= render 'layouts/navbar' %>
<main class="fRow-centerAround">
  <div class="fCol absolute2">
    <div class="container">
      <h1 class="title">Registro</h1>
      <div class="f_tCenter">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "hyperlink") %>
        <% else %>
          <%= link_to('Login', new_user_session_path, class: "hyperlink") %>
        <% end %>
      </div>
      <br>
      <p>
        En este momento estás realizando el registro de la entrada al evento. Si deseas registrar la
        entrada a una conferencia en particular, entonces entra
        <%= link_to "aquí", register_path, class: "hyperlink"%>.
      </p>
      <br>
      <%= form_tag(register_tickets_path, :method => "get") do %>
        <h2 class="subtitle">Folio</h2>
        <%= text_field_tag :param_badge, params[:param_badge], class:"input", autofocus: true %>
        <br>
        <div class="f_tCenter">
          <%= submit_tag "Buscar", :name => nil, class:"button_main" %>
        </div>
      <% end %>
    </div>
    <% if params[:param_badge] && @ticket.blank? %>
      <div class="flag negative">
        <h2 class="subtitle negative">¡Lo sentimos!</h2>
        <p class="negative">
          La referencia de pago "<%= params[:param_badge] %>" no existe, por favor intenta de nuevo.
        </p>
      </div>
    <% end %>
  </div>
</main>
