<%= render 'layouts/navbar' %>
<main class="fRow-centerAround">
  <div class="flRow-aiCen-jcBet absolute2">
    <div class="fCol">
      <div class="container">
        <h1 class="title">Registro</h1>
        <div class="f_tCenter">
          <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "hyperlink") %>
          <% else %>
          <%= link_to('Login', new_user_session_path, class: "hyperlink") %>
          <% end %>
        </div>
        <br>
        <p>
          En este momento estás realizando el registro de la entrada al evento. Si deseas registrar la
          entrada a una conferencia en particular, entonces entra
          <%= link_to "aquí", register_conference_tickets_path, class: "hyperlink"%>.
        </p>
        <br>
        <% if user_signed_in? %>
          <h2 class="subtitle">Registrados</h2>
          <h2 class="subtitle"><%=@registered %>/<%=@preregistered %></h2>
            <%= form_tag(register_tickets_path, :method => "get") do %>
            <h2 class="subtitle">Folio</h2>
            <%= text_field_tag :paramT,value = nil , class:"input", autofocus: true %>
            <br>
            <div class="f_tCenter">
              <%= submit_tag "Buscar", :name => nil, class:"button_main" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @reg == 1 %>
      <div class="container">
      <h2 > Nombre: <%= @ticket.ticket_name %>.</h2>
      <h2> Email: <%= @ticket.ticket_email %></h2>
      <h2> Ticket Id: <%= @ticket.id %></h2>
      <h2> Taller 1: <%= @ticket.ticket_conference1 %></h2>
      <h2> Taller 2: <%= @ticket.ticket_conference2 %></h2>
    </div>
    <% elsif @reg == 2 %>
      <div class="flag negative">
        <h2 class="subtitle negative">Existe, pero no está preregistrado.</h2>
      </div>
    <% elsif @reg == 3 %>
      <div class="flag negative">
        <h2 class="subtitle negative">No existe</h2>
      </div>
    <% end %>
  </div>
</main>
